* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    overflow-x: hidden;
}

/* Header  */
.main {
    height: 100vh;
    color: white;
}

.navbar {
    display: block;
    text-align: center;
}

.navbar ul li {
    display: inline-block;
    margin: 0 0.25rem;
    padding: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

.navbar ul li a:hover {
    border-bottom: 1px solid #0ffbf9;
}

.title {
    color: white;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
}

/* Footer  */

/* Index Page */

#AE_Logo {
    position: absolute;
    z-index: 1;
    width: 50px;
    left: 2rem;
    top: 2rem;
}

/* ===== Hexagons ===== */

.hexagon {
    position: fixed;
    fill: rgb(6, 174, 226, 0.075);
    stroke: rgb(6, 174, 226, 0.5);
    stroke-width: 1.5;
    cursor: pointer;
    animation-duration: 5s;
    transition: transform 3s;
}

.hexagon:hover {
    stroke: #0ffbf9;
    fill: rgb(6, 174, 226, 0.25);
    transition: all 0.5s;
}

.hexagon:hover,.filled,.enter_hex {
    transform: scale(1);
    stroke: #0ffbf9;
    fill: rgb(6,174,226, 0.25);
    stroke-dasharray: 100;
    animation: dash 15s alternate infinite;
    stroke-width: 3;
    opacity: 1;
}

@keyframes dash {
    0% {
        stroke-width: 0;
    }

    50% {
        stroke-dashoffset: 0;
        stroke-width: 5;
    }

    100% {
        stroke-width: 0;
    }
}

.fade {
    animation: heartBeat 4s ease-in-out;
}

@keyframes heartBeat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.75);
    }
    100% {
        transform: scale(1);
    }
}

.enter_hex {
    cursor: pointer;
    stroke: cyan;
    stroke-width: 3px;
    fill: none;
    position: absolute;
    z-index: 2;
    left: calc(50% - 100px);
    top: calc(50vh - 87.5px);
}

.enter_hex:hover {
    fill: rgb(6, 174, 226, 0.25);
}

@keyframes dash {
    to {
        stroke-dashoffset: 1000;
    }
}

/* About Me Page */
#name {
    text-align: center;
    /* position: absolute; */
    font-size: 4em;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#headshot {
    margin: 0 auto;
    width: 15rem;
    display: block;
    border: 2px solid cyan;
    border-radius: 50%;
    background-color: #0ffbf732;
    background-color: #06abe262;
    transition: all 1s;
}

#email {
    position: fixed;
    transform: rotate(-90deg);
    right: -1rem;
    top:calc(50% - 20px);
    text-decoration: none;
    color: white;
}

#email:hover {
    color: #0ffbf9;
}

#about-paragraph {
    color: white;
    margin: 0 auto;
    overflow: hidden;
    max-width: 800px;
    padding: 1rem;
    line-height: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    /* border: 2px solid #0ffbf9; */
    background-color: #06abe262;
    box-shadow: 0px 0px 30px #06abe262;
}

.highlight {
    color: #0ffbf9;
}

.slider {
    display: none;
    color: #0ffbf9;
}

.trigger-parent {
    margin-top: 1.5rem;
}

.trigger-parent a {
    transition: margin 400ms;
    color: white;
}

.media-links {
    position: fixed;
    top: calc(50% - 128px);
    left: 2rem;
    z-index: 2;
}

.media-links span {
    margin-left: 1rem;
}

.media-links ul {
    font-size: 1.5rem;
    /* color: white; */
    list-style-type: none;
}

.media-links ul a {
    text-decoration: none;
    /* color: white; */
}

.media-links ul i {
    font-size: 30px;
    list-style-type: none;
    /* margin-top: 25px; */
}

.media-links i:hover {
    list-style-type: none;
}

/* Typewriter effect */
#container {
    color: white;
    width: 100vw;
    text-align: center;
    font-size: 40px;
    margin: 1rem 0;
}

#text {
    display: inline-block;
    color: white;
    border-right: 3px solid #06aae2;
    font-family: Arial, Helvetica, sans-serif;
}

#follow {
    background: url('/static/images/AELogo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 50px;
    background-position-x: center;
    background-position-y: center;
    /* background-color: red; */
    width: 50px;
    height: 50px;
    position: absolute;
    transition: all 1s;
    z-index: -1;
    left: 2rem;
    top: 2rem;
}

#corner-top-left, #corner-top-right, #corner-bottom-left, #corner-bottom-right {
    position: fixed;
    width: 4rem;
    height: 4rem;
}

#corner-bottom-left {
    left: 1rem;
    bottom: 1rem;
    border-left: 1.5px solid white;
    border-bottom: 1.5px solid white;
}
#corner-bottom-right {
    right: 1rem;
    bottom: 1rem;
    border-right: 1.5px solid white;
    border-bottom: 1.5px solid white;
}
#corner-top-left {
    left: 1rem;
    top: 1rem;
    border-left: 1.5px solid white;
    border-top: 1.5px solid white;
}
#corner-top-right {
    right: 1rem;
    top: 1rem;
    border-right: 1.5px solid white;
    border-top: 1.5px solid white;
}

/* Projects Page */
.projects {
    display: grid;
    margin: 0 auto;
    max-width: 80vw;
}

.project {
    color: white;
    font-family: sans-serif;
}

#project-container {
    margin-top: 4rem;
}

.title1 { grid-area: title1; }
.title2 { grid-area: title2; }
.project1 { grid-area: project1; }
.project2 { grid-area: project2; }
.project3 { grid-area: project3; }
.project4 { grid-area: project4; }
.project5 { grid-area: project5; }
.project6 { grid-area: project6; }
.project7 { grid-area: project7; }
.project8 { grid-area: project8; }

.grid-container {
    display: grid;
    /* grid-template-columns: auto auto auto auto; */
    grid-template-areas:
        'title1 title1 title2 title2'
        'project1 project2 project3 project4'
        'project5 project6 project7 project8';
    /* background-color: #2196F3; */
    /* padding: 10px; */
    /* max-width: 75vw; */
    max-width: 90vw;
    margin: 0 auto;
    grid-gap: 10px;
}
.grid-item {
    /* background-color: rgba(0, 255, 255, 0.404); */
    /* background-color: rgba(0, 255, 255, 0.25); */
    /* background-color: #0ffbf732; */
    background-color: #06abe262;
    /* border: 1px solid #0ffbf9; */
    padding: 5px;
    font-size: 1rem;
    text-align: center;
    min-height: 25rem;
}

.grid-item:hover {
    background-color: #06abe298;
    transform: scale(1.15);
    transition: all 0.5s;
    box-shadow: 2px 2px 10px black;
    cursor: pointer;
}

.grid-item .description {
    margin: 1rem;
}

.grid-item img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    /* max-width: 90%; */
    /* max-height: 150px; */
    margin: 1.5rem auto;
}

.grid-item .links {
    display: inline-block;
}

.grid-item a {
    text-decoration: none;
    color: white;
}

.grid-item .links i {
    padding:0px 5px;
    font-size: 1.5rem;
}

.projects i:hover {
    color: cyan;
}

.grid-item h2 {
    color: #0ffbf9;
}

.grid-item ul li {
    display: inline-block;
    text-decoration: none;
}

.grid-item ul li i {
    margin: 0.5rem;
}

.grid-item-title {
    color: white;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.technologies li {
    display: inline-block;
}

/* Project Modals  */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    /* top: 25%; */
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    /* padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s; */
    text-decoration: none;
    color: #06aae2;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    z-index: 10;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }


/* Education Page */

/* Play Page */

/* Resume Page */

/* Hexagon Positions */
/* Ring 1 */
.hex1 {
    z-index: -1;
    left: calc(50% - 100px);
    top: calc(50vh - 87.5px);
}

/* Ring 2 */
.hex2 {
    z-index: -1;
    left: calc(50% - 100px);
    top: calc(50vh - 87.5px - 175px);
}

.hex3 {
    z-index: -1;
    left: calc(50% - 100px + 150px);
    top: calc(50vh - 87.5px - 87.5px);
}

.hex4 {
    z-index: -1;
    left: calc(50% - 100px + 150px);
    top: calc(50vh);
}

.hex5 {
    z-index: -1;
    left: calc(50% - 100px);
    top: calc(50vh + 87.5px);
}

.hex6 {
    z-index: -1;
    left: calc(50% - 100px - 150px);
    top: calc(50vh);
}

.hex7 {
    z-index: -1;
    left: calc(50% - 100px - 150px);
    top: calc(50vh - 175px);
}

/* Ring 3 */
.hex8 {
    z-index: -1;
    left: calc(50% - 100px);
    top: calc(50vh - 87.5px - 350px);
}

.hex9 {
    z-index: -1;
    left: calc(50% + 50px);
    top: calc(50vh - 87.5px - 262.5px);
}

.hex10 {
    z-index: -1;
    left: calc(50% + 50px + 150px);
    top: calc(50vh - 87.5px - 175px);
}

.hex11 {
    z-index: -1;
    left: calc(50% + 50px + 150px);
    top: calc(50vh - 87.5px);
}

.hex12 {
    z-index: -1;
    left: calc(50% + 50px + 150px);
    top: calc(50vh - 87.5px + 175px);
}

.hex13 {
    z-index: -1;
    left: calc(50% + 50px);
    top: calc(50vh - 87.5px + 262.5px);
}

.hex14 {
    z-index: -1;
    left: calc(50% - 100px);
    top: calc(50vh - 87.5px + 350px);
}

.hex15 {
    z-index: -1;
    left: calc(50% - 100px - 150px);
    top: calc(50vh + 87.5px + 87.5px);
}

.hex16 {
    z-index: -1;
    left: calc(50% - 100px - 300px);
    top: calc(50vh + 87.5px);
}

.hex17 {
    z-index: -1;
    left: calc(50% - 100px - 300px);
    top: calc(50vh - 87.5px);
}

.hex18 {
    z-index: -1;
    left: calc(50% - 100px - 300px);
    top: calc(50vh - 87.5px - 175px);
}

.hex19 {
    z-index: -1;
    left: calc(50% - 100px - 150px);
    top: calc(50vh - 87.5px - 262.5px);
}

/* Ring 4 */
.hex20 {
    z-index: -1;
    left: calc(50% + 50px);
    top: calc(50vh - 87.5px - 437.5px);
}

.hex21 {
    z-index: -1;
    left: calc(50% + 50px + 150px);
    top: calc(50vh - 87.5px - 350px);
}

.hex22 {
    z-index: -1;
    left: calc(50% + 50px + 300px);
    top: calc(50vh - 87.5px - 262.5px);
}

.hex23 {
    z-index: -1;
    left: calc(50% + 50px + 300px);
    top: calc(50vh - 87.5px - 87.5px);
}

.hex24 {
    z-index: -1;
    left: calc(50% + 50px + 300px);
    top: calc(50vh);
}

.hex25 {
    z-index: -1;
    left: calc(50% + 50px + 300px);
    top: calc(50vh + 175px);
}

.hex26 {
    z-index: -1;
    left: calc(50% + 50px + 150px);
    top: calc(50vh + 262.5px);
}

.hex27 {
    z-index: -1;
    left: calc(50% + 50px);
    top: calc(50vh + 350px);
}

.hex28 {
    z-index: -1;
    left: calc(50% + 50px);
    top: calc(50vh + 350px);
}

.hex29 {
    z-index: -1;
    left: calc(50% - 100px);
    top: calc(50vh + 437.5px);
}

.hex30 {
    z-index: -1;
    left: calc(50% - 250px);
    top: calc(50vh + 350px);
}

.hex31 {
    z-index: -1;
    left: calc(50% - 400px);
    top: calc(50vh + 262.5px);
}

.hex32 {
    z-index: -1;
    left: calc(50% - 550px);
    top: calc(50vh + 175px);
}

.hex33 {
    z-index: -1;
    left: calc(50% - 550px);
    top: calc(50vh);
}

.hex34 {
    z-index: -1;
    left: calc(50% - 550px);
    top: calc(50vh - 175px);
}

.hex35 {
    z-index: -1;
    left: calc(50% - 550px);
    top: calc(50vh - 350px);
}

.hex36 {
    z-index: -1;
    left: calc(50% - 400px);
    top: calc(50vh - 437.5px);
}

.hex37 {
    z-index: -1;
    left: calc(50% - 100px - 150px);
    top: calc(50vh - 87.5px - 437.5px);
}

.hex38 {
    z-index: -1;
    left: calc(50% - 100px);
    top: calc(50vh - 87.5px - 525px);
}

/* Row 5 */

.hex39 {
    z-index: -1;
    left: calc(50% - 100px);
    top: calc(50vh - 787.5px);
}

.hex40 {
    z-index: -1;
    left: calc(50% + 50px);
    top: calc(50vh - 700px);
}

.hex41 {
    z-index: -1;
    left: calc(50% + 200px);
    top: calc(50vh - 612.5px);
}

.hex42 {
    z-index: -1;
    left: calc(50% + 350px);
    top: calc(50vh - 525px);
}

.hex43 {
    z-index: -1;
    left: calc(50% + 500px);
    top: calc(50vh - 437.5px);
}

.hex44 {
    z-index: -1;
    left: calc(50% + 500px);
    top: calc(50vh - 262.5px);
}

.hex45 {
    z-index: -1;
    left: calc(50% + 500px);
    top: calc(50vh - 87.5px);
}

.hex46 {
    z-index: -1;
    left: calc(50% + 500px);
    top: calc(50vh + 87.5px);
}

.hex47 {
    z-index: -1;
    left: calc(50% + 500px);
    top: calc(50vh + 262.5px);
}

.hex48 {
    z-index: -1;
    left: calc(50% + 350px);
    top: calc(50vh + 350px);
}

.hex49 {
    z-index: -1;
    left: calc(50% + 200px);
    top: calc(50vh + 437.5px);
}

.hex50 {
    z-index: -1;
    left: calc(50% + 50px);
    top: calc(50vh + 525px);
}

.hex51 {
    z-index: -1;
    left: calc(50% - 100px);
    top: calc(50vh + 612.5px);
}

.hex52 {
    z-index: -1;
    left: calc(50% - 250px);
    top: calc(50vh + 525px);
}

.hex53 {
    z-index: -1;
    left: calc(50% - 400px);
    top: calc(50vh + 437.5px);
}

.hex54 {
    z-index: -1;
    left: calc(50% - 550px);
    top: calc(50vh + 350px);
}

.hex55 {
    z-index: -1;
    left: calc(50% - 700px);
    top: calc(50vh + 262.5px);
}

.hex56 {
    z-index: -1;
    left: calc(50% - 700px);
    top: calc(50vh + 87.5px);
}

.hex57 {
    z-index: -1;
    left: calc(50% - 700px);
    top: calc(50vh - 87.5px);
}

.hex58 {
    z-index: -1;
    left: calc(50% - 700px);
    top: calc(50vh - 262.5px);
}

.hex59 {
    z-index: -1;
    left: calc(50% - 700px);
    top: calc(50vh - 437.5px);
}

.hex60 {
    z-index: -1;
    left: calc(50% - 550px);
    top: calc(50vh - 525px);
}

.hex61 {
    z-index: -1;
    left: calc(50% - 400px);
    top: calc(50vh - 612.5px);
}

.hex62 {
    z-index: -1;
    left: calc(50% - 250px);
    top: calc(50vh - 700px);
}

.hex63 {
    z-index: -1;
    left: calc(50% - 250px);
    top: calc(50vh - 700px);
}

/* Row 6 */

.hex64 {
    z-index: -1;
    left: calc(50% + 200px);
    top: calc(50vh - 787.5px);
}

.hex65 {
    z-index: -1;
    left: calc(50% + 350px);
    top: calc(50vh - 700px);
}

.hex66 {
    z-index: -1;
    left: calc(50% + 500px);
    top: calc(50vh - 612.5px);
}

.hex67 {
    z-index: -1;
    left: calc(50% + 650px);
    top: calc(50vh - 525px);
}

.hex68 {
    z-index: -1;
    left: calc(50% + 650px);
    top: calc(50vh - 350px);
}

.hex69 {
    z-index: -1;
    left: calc(50% + 650px);
    top: calc(50vh - 175px);
}

.hex70 {
    z-index: -1;
    left: calc(50% + 650px);
    top: calc(50vh);
}

.hex71 {
    z-index: -1;
    left: calc(50% + 650px);
    top: calc(50vh + 175px);
}

.hex72 {
    z-index: -1;
    left: calc(50% + 650px);
    top: calc(50vh + 350px);
}

.hex73 {
    z-index: -1;
    left: calc(50% + 500px);
    top: calc(50vh + 437.5px);
}

.hex74 {
    z-index: -1;
    left: calc(50% + 350px);
    top: calc(50vh + 525px);
}

.hex75 {
    z-index: -1;
    left: calc(50% + 200px);
    top: calc(50vh + 612.5px);
}

.hex76 {
    z-index: -1;
    left: calc(50% - 400px);
    top: calc(50vh + 612.5px);
}

.hex77 {
    z-index: -1;
    left: calc(50% - 550px);
    top: calc(50vh + 525px);
}

.hex78 {
    z-index: -1;
    left: calc(50% - 700px);
    top: calc(50vh + 437.5px);
}

.hex79 {
    z-index: -1;
    left: calc(50% - 850px);
    top: calc(50vh + 350px);
}

.hex80 {
    z-index: -1;
    left: calc(50% - 850px);
    top: calc(50vh + 175px);
}

.hex81 {
    z-index: -1;
    left: calc(50% - 850px);
    top: calc(50vh);
}

.hex82 {
    z-index: -1;
    left: calc(50% - 850px);
    top: calc(50vh - 175px);
}

.hex83 {
    z-index: -1;
    left: calc(50% - 850px);
    top: calc(50vh - 350px);
}

.hex84 {
    z-index: -1;
    left: calc(50% - 850px);
    top: calc(50vh - 525px);
}

.hex85 {
    z-index: -1;
    left: calc(50% - 700px);
    top: calc(50vh - 612.5px);
}

.hex86 {
    z-index: -1;
    left: calc(50% - 550px);
    top: calc(50vh - 700px);
}

.hex87 {
    z-index: -1;
    left: calc(50% - 400px);
    top: calc(50vh - 787.5px);
}

/* Row 7 */

.hex88 {
    z-index: -1;
    left: calc(50% + 800px);
    top: calc(50vh - 612.5px);
}

.hex89 {
    z-index: -1;
    left: calc(50% + 800px);
    top: calc(50vh - 437.5px);
}

.hex90 {
    z-index: -1;
    left: calc(50% + 800px);
    top: calc(50vh - 262.5px);
}

.hex91 {
    z-index: -1;
    left: calc(50% + 800px);
    top: calc(50vh - 87.5px);
}

.hex92 {
    z-index: -1;
    left: calc(50% + 800px);
    top: calc(50vh + 87.5px);
}

.hex93 {
    z-index: -1;
    left: calc(50% + 800px);
    top: calc(50vh + 262.5px);
}

.hex94 {
    z-index: -1;
    left: calc(50% + 800px);
    top: calc(50vh + 437.5px);
}

/* Row 7 */

.hex95 {
    z-index: -1;
    left: calc(50% - 1000px);
    top: calc(50vh + 437.5px);
}

.hex96 {
    z-index: -1;
    left: calc(50% - 1000px);
    top: calc(50vh + 262.5px);
}

.hex97 {
    z-index: -1;
    left: calc(50% - 1000px);
    top: calc(50vh + 87.5px);
}

.hex98 {
    z-index: -1;
    left: calc(50% - 1000px);
    top: calc(50vh - 87.5px);
}

.hex99 {
    z-index: -1;
    left: calc(50% - 1000px);
    top: calc(50vh - 262.5px);
}

.hex100 {
    z-index: -1;
    left: calc(50% - 1000px);
    top: calc(50vh - 437.5px);
}

.hex101 {
    z-index: -1;
    left: calc(50% - 1000px);
    top: calc(50vh - 612.5px);
}

/* Row 8 */

.hex102 {
    z-index: -1;
    left: calc(50% + 950px);
    top: calc(50vh - 525px);
}

.hex103 {
    z-index: -1;
    left: calc(50% + 950px);
    top: calc(50vh - 350px);
}

.hex104 {
    z-index: -1;
    left: calc(50% + 950px);
    top: calc(50vh - 175px);
}

.hex105 {
    z-index: -1;
    left: calc(50% + 950px);
    top: calc(50vh);
}

.hex106 {
    z-index: -1;
    left: calc(50% + 950px);
    top: calc(50vh + 175px);
}

.hex107 {
    z-index: -1;
    left: calc(50% + 950px);
    top: calc(50vh + 350px);
}

/* Row 8 */

.hex108 {
    z-index: -1;
    left: calc(50% - 1150px);
    top: calc(50vh - 525px);
}

.hex109 {
    z-index: -1;
    left: calc(50% - 1150px);
    top: calc(50vh - 350px);
}

.hex110 {
    z-index: -1;
    left: calc(50% - 1150px);
    top: calc(50vh - 175px);
}

.hex111 {
    z-index: -1;
    left: calc(50% - 1150px);
    top: calc(50vh);
}

.hex112 {
    z-index: -1;
    left: calc(50% - 1150px);
    top: calc(50vh + 175px);
}

.hex113 {
    z-index: -1;
    left: calc(50% - 1150px);
    top: calc(50vh + 350px);
}

/* Media Queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        background: red;
    }

    .grid-container {
        margin: 0;
        /* grid-template-columns: auto auto; */
        grid-template-areas: 
        'title1'
        'project1'
        'project2'
        'title2'
        'project3'
        'project4'
        'project5'
        'project6'
        'project7'
        'project8'
    }

    #about-paragraph {
        font-size: 0.75rem;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        background: green;
    }

    .grid-container {
        margin: 0;
        /* grid-template-columns: auto auto; */
        grid-template-areas: 
        'title1 title2'
        'project1 project2'
        'project3 project4'
        'project5 project6'
        'project7 project8'
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        background: blue;
    }

    .grid-container {
        margin: 0;
        /* grid-template-columns: auto auto; */
        grid-template-areas: 
        'title1 title2'
        'project1 project2'
        'project3 project4'
        'project5 project6'
        'project7 project8'
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        background: orange;
    }
    
    .grid-container {
        margin: 0 auto;
        /* grid-template-columns: auto auto; */
        grid-template-areas: 
        'title1 title2'
        'project1 project2 project3 project4'
        'project5 project6 project7 project8'
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        background: black;
    }

    .grid-container {
        grid-template-areas:
        'title1 title1 title2 title2'
        'project1 project2 project3 project4'
        'project5 project6 project7 project8'
        }
}