* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid yellow; */
}

body {
    background-color: black;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #06abe244;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #06abe244;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: white;
  }

/* Header  */
.main {
    height: 100vh;
    color: white;
}

.navbar {
    font-size: 1.10rem;
    display: block;
    text-align: center;
}

.navbar ul li {
    display: inline-block;
    margin: 0 0.25rem;
    padding: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

.navbar ul li a:hover {
    border-bottom: 1px solid #0ffbf9;
}

.title {
    color: white;
    text-align: center;
    font-size: 3rem;
    margin: 3rem 0;
}

/* Footer  */

#topButton {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #06aae2;
  }
  
  #topButton:hover {
    background-color: #06abe244;
  }


/* Index Page */

#AE_Logo {
    position: absolute;
    z-index: 1;
    width: 50px;
    left: 2rem;
    top: 2rem;
}

/* ===== Hexagons ===== */

.hexagon {
    position: fixed;
    fill: rgb(6, 174, 226, 0.075);
    stroke: rgb(6, 174, 226, 0.5);
    stroke-width: 1.5;
    cursor: pointer;
    animation-duration: 5s;
    transition: transform 3s;
}

.hexagon:hover {
    stroke: #0ffbf9;
    fill: rgb(6, 174, 226, 0.25);
    transition: all 0.5s;
}

.hexagon:hover, .filled, .enter_hex {
    transform: scale(1);
    stroke: #0ffbf9;
    fill: rgb(6,174,226, 0.25);
    stroke-dasharray: 100;
    animation: dash 15s alternate infinite;
    stroke-width: 3;
    opacity: 1;

}

@keyframes dash {
    to {
        stroke-dashoffset: 1000;
    }
}

/* @keyframes dash {
    0% {
        stroke-width: 0;
    }

    50% {
        stroke-dashoffset: 0;
        stroke-width: 5;
    }

    100% {
        stroke-width: 0;
    }
} */

.fade {
    transform-origin: 100px 87.5px;
    animation: heartBeat 3s ease-in-out;
}

@keyframes heartBeat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.75);
    }
    100% {
        transform: scale(1);
    }
}

.enter_hex {
    cursor: pointer;
    stroke: cyan;
    stroke-width: 3px;
    fill: none;
    position: absolute;
    z-index: 2;
    left: calc(50% - 100px);
    top: calc(50vh - 87.5px);
}

.enter_hex:hover {
    fill: rgb(6, 174, 226, 0.25);
}

/* About Me Page */
#name {
    text-align: center;
    /* position: absolute; */
    font-size: 4em;
    font-size: 6em;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 3px 0px 5px #2A98FF, 5px 0px 1px white;
}

#headshot {
    margin: 0 auto;
    width: 15rem;
    display: block;
    border: 2px solid cyan;
    border-radius: 50%;
    background-color: #0ffbf732;
    background-color: #06abe262;
    transition: all 1s;
}

#headshot:hover {
    background-color: white;
    transform: scale(0.9);
}

#headshotbox {
    display: block;
    position: relative;
    overflow: hidden;
}

@keyframes rotateClockwise {
    to {
        transform: rotate(315deg);
    }
}

@keyframes rotateCounterClockwise {
    to {
        transform: rotate(-315deg);
    }
}

@keyframes rotateL {
    0% {
        transform: scale(0) translate(0) rotate(-45deg);
        opacity: 0;
    }
    10% {
        transform: scale(1) translate(-80px) rotate(-45deg);
        opacity: 1;
    }
    100% {
        transform: scale(1) translate(-400px) rotate(-45deg);
        opacity: 0;
    }
}

@keyframes rotateR {
    0% {
        transform: scale(0) translate(0) rotate(45deg);
        opacity: 0;
    }
    10% {
        transform: scale(1) translate(80px) rotate(45deg);
        opacity: 1;
    }
    100% {
        transform: scale(1) translate(400px) rotate(45deg);
        opacity: 0;
    }
}

.animatedSquare {
    opacity: 0;
    transform: rotate(-45deg);
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    position: absolute;
    z-index: -1;
    width: 100px;
    height: 100px;
    border: 2px solid cyan;
    animation: squareRotate 8s infinite;
    animation-delay: 1s;
}

.animatedSquare2 {
    opacity: 0;
    transform: rotate(-45deg);
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    position: absolute;
    z-index: -1;
    width: 100px;
    height: 100px;
    border: 2px solid hotpink;
    animation: squareRotate2 8s infinite;
    animation-delay: 1s;
}

.animatedSquare3 {
    opacity: 0;
    transform: rotate(-45deg);
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    position: absolute;
    z-index: -1;
    width: 100px;
    height: 100px;
    border: 2px solid cyan;
    animation: squareRotate3 8s infinite;
    animation-delay: 1s;
}

.animatedSquare4 {
    opacity: 0;
    transform: rotate(-45deg);
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    position: absolute;
    z-index: -1;
    width: 100px;
    height: 100px;
    border: 2px solid hotpink;
    animation: squareRotate4 8s infinite;
    animation-delay: 1s;
}

.animatedSquare5 {
    transform: rotate(-45deg);
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    position: absolute;
    z-index: -1;
    width: 200px;
    height: 200px;
    border: 2px solid hotpink;
    animation: rotateR 8s infinite;
}

@keyframes squareRotate {
    0% {
        opacity: 0;
        transform:translate(0px);
    }
    25% {
        opacity: 0.5;
        transform:translate(-300px) rotate(45deg);
    }
    74% {
        transform:translate(-300px) rotate(-45deg);
    }
    75% {
        opacity: 0.5;
        transform:translate(-300px) rotate(-45deg);
    }
    100% {
        opacity: 0;
        transform:translate(0px);
    }
}

@keyframes squareRotate2 {
    0% {
        opacity: 0;
        transform:translate(0px);
    }
    25% {
        opacity: 0.5;
        transform:translate(-250px) rotate(45deg);
    }
    74% {
        transform:translate(-250px) rotate(-45deg);
    }
    75% {
        opacity: 0.5;
        transform:translate(-250px) rotate(-45deg);
    }
    100% {
        opacity: 0;
        transform:translate(0px);
    }
}
@keyframes squareRotate3 {
    0% {
        opacity: 0;
        transform:translate(0px);
    }
    25% {
        opacity: 0.5;
        transform:translate(300px) rotate(45deg);
    }
    74% {
        transform:translate(300px) rotate(-45deg);
    }
    75% {
        opacity: 0.5;
        transform:translate(300px) rotate(-45deg);
    }
    100% {
        opacity: 0;
        transform:translate(0px);
    }
}

@keyframes squareRotate4 {
    0% {
        opacity: 0;
        transform:translate(0px);
    }
    25% {
        opacity: 0.5;
        transform:translate(250px) rotate(45deg);
    }
    74% {
        transform:translate(250px) rotate(-45deg);
    }
    75% {
        opacity: 0.5;
        transform:translate(250px) rotate(-45deg);
    }
    100% {
        opacity: 0;
        transform:translate(0px);
    }
}

#email {
    position: fixed;
    transform: rotate(-90deg);
    right: -1rem;
    top:calc(50% - 20px);
    text-decoration: none;
    color: white;
    z-index: 2;
}

#email:hover {
    color: #0ffbf9;
}

#about-paragraph {
    color: white;
    margin: 0 auto;
    overflow: hidden;
    max-width: 800px;
    padding: 1rem 3rem;
    line-height: 2rem;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid white;
    background-color: #06abe262;
    border: none;
    /* box-shadow: 0px 0px 30px #06abe262; */
    /* box-shadow: 0px 0px 15px 5px #06aae2; */
}

#about-paragraph:hover {
    border-radius: 5px;
    background-color: #06abe244;
    transition: border-radius 2s;
    transform: scale(1.1);
    transition: transform 2s;
}

#about-paragraph-div {
    position: absolute;
    border: 4px solid white;
    min-height: 100px;
    transform: rotate(10deg);
    padding: 10px;
}

.highlight {
    color: #0ffbf9;
}

.slider {
    display: none;
    color: #0ffbf9;
}

.trigger-parent {
    margin-top: 1.5rem;
}

.trigger-parent a {
    transition: margin 400ms;
    color: white;
}

.media-links {
    position: fixed;
    top: calc(50% - 128px);
    left: 2rem;
    z-index: 2;
}

.media-links span {
    margin-left: 1rem;
}

.media-links ul {
    font-size: 1.5rem;
    /* color: white; */
    list-style-type: none;
}

.media-links ul a {
    text-decoration: none;
    /* color: white; */
}

.media-links ul i {
    font-size: 30px;
    list-style-type: none;
    /* margin-top: 25px; */
}

.media-links i:hover {
    list-style-type: none;
}

/* Typewriter effect */
#container {
    color: white;
    width: 100vw;
    text-align: center;
    font-size: 40px;
    margin: 1rem 0;
}

#text {
    display: inline-block;
    color: white;
    border-right: 3px solid #06aae2;
    font-family: Arial, Helvetica, sans-serif;
}

#follow {
    background: url('/static/images/AELogo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 50px;
    background-position-x: center;
    background-position-y: center;
    /* background-color: red; */
    width: 50px;
    height: 50px;
    position: absolute;
    transition: all 1s;
    z-index: -1;
    left: 2rem;
    top: 2rem;
}

#about-paragraph-div {
    position: relative;
    margin: 0 auto;
    max-width: 800px;
}

#whiteSquareLeft {
    position: absolute;
    z-index: 1;
    height: 100px;
    width: 300px;
    border-left: 4px solid white;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
}

#whiteSquareRight {
    position: absolute;
    z-index: 3;
    margin-left: 200px;
    height: 100px;
    width: 300px;
    border-right: 4px solid white;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
}

#floatText {
    position: absolute;
    color: white;
    font-size: 48px;
    z-index: 2;
}

#corner-top-left, #corner-top-right, #corner-bottom-left, #corner-bottom-right {
    position: fixed;
    width: 4rem;
    height: 4rem;
}

#corner-bottom-left {
    left: 1rem;
    bottom: 1rem;
    border-left: 1.5px solid white;
    border-bottom: 1.5px solid white;
}
#corner-bottom-right {
    right: 1rem;
    bottom: 1rem;
    border-right: 1.5px solid white;
    border-bottom: 1.5px solid white;
}
#corner-top-left {
    left: 1rem;
    top: 1rem;
    border-left: 1.5px solid white;
    border-top: 1.5px solid white;
}
#corner-top-right {
    right: 1rem;
    top: 1rem;
    border-right: 1.5px solid white;
    border-top: 1.5px solid white;
}

/* Projects Page */
.projects {
    display: grid;
    margin: 0 auto;
    max-width: 80vw;
}

.project {
    color: white;
    font-family: sans-serif;
}

.heading {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#project-container {
    margin-top: 4rem;
}

.title1 { grid-area: title1; }
.title2 { grid-area: title2; }
.project1 { grid-area: project1; }
.project2 { grid-area: project2; }
.project3 { grid-area: project3; }
.project4 { grid-area: project4; }
.project5 { grid-area: project5; }
.project6 { grid-area: project6; }
.project7 { grid-area: project7; }
.project8 { grid-area: project8; }

.grid-container {
    display: grid;
    /* grid-template-columns: auto auto auto auto; */
    grid-template-areas:
        'title1 title1 title2 title2'
        'project1 project2 project3 project4'
        'project5 project6 project7 project8';
    /* background-color: #2196F3; */
    /* padding: 10px; */
    /* max-width: 75vw; */
    max-width: 90vw;
    margin: 0 auto;
    grid-gap: 10px;
}
.grid-item {
    /* background-color: rgba(0, 255, 255, 0.404); */
    /* background-color: rgba(0, 255, 255, 0.25); */
    /* background-color: #0ffbf732; */
    background-color: #06abe262;
    /* border: 1px solid #0ffbf9; */
    padding: 5px;
    font-size: 1rem;
    text-align: center;
    min-height: 25rem;
}

.grid-item:hover, #github:hover {
    background-color: #06abe298;
    transform: scale(1.15);
    transition: all 0.5s;
    box-shadow: 2px 2px 10px black;
    cursor: pointer;
    text-decoration: none;
}

.grid-item h2 {
    margin: 0.75rem;
}

.grid-item .description {
    margin: 1rem;
}

.grid-item img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    /* max-width: 90%; */
    /* max-height: 150px; */
    margin: 1.5rem auto;
}

.grid-item .links {
    display: inline-block;
}

.grid-item a {
    text-decoration: none;
    color: white;
}

.grid-item .links i {
    padding:0px 5px;
    font-size: 1.5rem;
}

.projects i:hover {
    color: cyan;
}

.grid-item ul li {
    display: inline-block;
    text-decoration: none;
}

.grid-item ul li i {
    margin: 0.5rem;
}

.grid-item-title {
    color: white;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.technologies li {
    display: inline-block;
}

/* Project Modals  */
.overlay {
    color: white;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    /* top: 25%; */
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay h1 {
      color: #06aae2;
  }
  
  .overlay a {
    /* padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s; */
    text-decoration: none;
    color: #06aae2;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    z-index: 10;
  }

  .overlay img {
      max-width: 100%;
  }

  #features {
      width: 40vw;
      margin: 0 auto;
  }

  #features li {
      margin-left: 1rem;
  }

  .summary {
      max-width: 80vw;
      text-align: center;
      padding: 2rem;
      margin: 0 auto;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }


/* Education Page */
#edu_content {
    max-width: 50vw;
    margin: 0 auto;
    margin-bottom: 2rem;
    /* text-align: left; */
}

#dojo_content a {
    text-decoration: none;
    color: #06aae2;
}

#dojo_content a:hover {
    text-decoration: none;
    color: white;
}

#dojo_title {
    padding-bottom: 2rem;
    font-size: 2rem;
    text-shadow: 2px 2px 2px black;
}

.diamond li {
    list-style: none;
    margin: 1em 0;
    /* margin-left: 1.5em; */
    position: relative;
    text-align: left;
}

.diamond {
    width: 50%;
    margin: 0 auto;
}

.diamond ul {
    /* text-align: center; */
    outline: 1px solid red;
}

.diamond i {
    margin: 0 1rem;
}


/* Hobbies Page */
#hobbies-container {
    max-width: 80vw;
    /* background-color: #06abe262; */
    margin: 0 auto;
}

.hobby {
    display: inline-block;
    padding: 1rem;
    text-align: center;
    color: white;
}

/* Resume Page */

#Resume-Container {
    border: 1px solid #06aae2;
    background-color: #06abe262;
    color: white;
    font-family: sans-serif;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

#Resume-Container h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#Resume-Container h4 {
    color: #06aae2;
    padding: 0.5rem;
}

#Resume-Container li, #Resume-Container p {
    margin-left: 40px;
}

#Resume-Container a {
    text-decoration: none;
    color: #9ad4fa;
}

#Resume-Container a:hover {
    text-decoration: none;
    color: #06aae2;
}

.resume-intro {
    text-align: center;
}

#resume-links {
    margin: 0 auto;
}

#resume-links a {
    text-decoration: none;
    color: white;
}

#resume-links i {
    margin-right: 0.5rem;
}

.resume-link {
    display: inline-block;
    margin: 1rem;
}

.location {
    color: #9ad4fa;
    margin-bottom: 0.4rem;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.column h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #06aae2;
    font-weight: 100;
    border-bottom: 2px solid white;
    margin: 1rem;
}

/* #summary {
    width: 100%;
    text-align: center;
} */

#technologies {
    /* width: 40%; */
    /* height: 100%; */
    display: inline-block;
    vertical-align: top;
    padding:0 0 1rem 1rem;
}
.date {
    float: right;
    color: #06aae2;
    font-weight: bold;
}

#experience {
    width: 60%;
    height: 100%;
    display: inline-block;
    outline: 1px solid red;
}

#github {
    color: white;
    text-align: center;
    font-size: 1.25rem;
    background-color: #06abe262;
    padding: 1rem;
}

#github img {
    max-width: 80vw;
    margin: 0 auto;
}

/* Skills */
#skills-container {
    width: 80vw;
    margin: 0 auto;
}

/* Contact  */
#contact-container {
    /* background-color: #06abe262; */
    /* padding: 2rem; */
    color: white;
    text-align: center;
    margin-bottom: 4rem;
}

#contact-container table {
    min-width: 50%;
    background-color: #06abe262;
    margin: 0 auto;
    text-align: left;
    padding: 2rem;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.25rem;
}

#contact-container table:hover {
    animation: hover 2s ease-in-out infinite;
}

@keyframes hover {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 0.5rem);
    }
    100% {
        transform: translate(0, 0);
    }
}

#contact-container td {
    padding: 0.5rem;
}

#contact-container input, #contact-container textarea, #contactButton {
    width: 100%;
    min-height: 20px;
}

#contactButton {
    height: 40px;
    background-color: transparent;
    color: white;
    border: 2px solid #06abe244;
}

#contactButton:hover {
    background-color: #06abe244;
    color: white;
    border: 2px solid white;
}

/* Hexagon Positions */
/* Ring 1 */
.hex1 {
    z-index: -1;
    left: calc(50% - 100px);
    top: calc(50vh - 87.5px);
}

/* Ring 2 */
.hex2 {
    z-index: -1;
    left: calc(50% - 100px);
    top: calc(50vh - 87.5px - 175px);
}

.hex3 {
    z-index: -1;
    left: calc(50% - 100px + 150px);
    top: calc(50vh - 87.5px - 87.5px);
}

.hex4 {
    z-index: -1;
    left: calc(50% - 100px + 150px);
    top: calc(50vh);
}

.hex5 {
    z-index: -1;
    left: calc(50% - 100px);
    top: calc(50vh + 87.5px);
}

.hex6 {
    z-index: -1;
    left: calc(50% - 100px - 150px);
    top: calc(50vh);
}

.hex7 {
    z-index: -1;
    left: calc(50% - 100px - 150px);
    top: calc(50vh - 175px);
}

/* Ring 3 */
.hex8 {
    z-index: -1;
    left: calc(50% - 100px);
    top: calc(50vh - 87.5px - 350px);
}

.hex9 {
    z-index: -1;
    left: calc(50% + 50px);
    top: calc(50vh - 87.5px - 262.5px);
}

.hex10 {
    z-index: -1;
    left: calc(50% + 50px + 150px);
    top: calc(50vh - 87.5px - 175px);
}

.hex11 {
    z-index: -1;
    left: calc(50% + 50px + 150px);
    top: calc(50vh - 87.5px);
}

.hex12 {
    z-index: -1;
    left: calc(50% + 50px + 150px);
    top: calc(50vh - 87.5px + 175px);
}

.hex13 {
    z-index: -1;
    left: calc(50% + 50px);
    top: calc(50vh - 87.5px + 262.5px);
}

.hex14 {
    z-index: -1;
    left: calc(50% - 100px);
    top: calc(50vh - 87.5px + 350px);
}

.hex15 {
    z-index: -1;
    left: calc(50% - 100px - 150px);
    top: calc(50vh + 87.5px + 87.5px);
}

.hex16 {
    z-index: -1;
    left: calc(50% - 100px - 300px);
    top: calc(50vh + 87.5px);
}

.hex17 {
    z-index: -1;
    left: calc(50% - 100px - 300px);
    top: calc(50vh - 87.5px);
}

.hex18 {
    z-index: -1;
    left: calc(50% - 100px - 300px);
    top: calc(50vh - 87.5px - 175px);
}

.hex19 {
    z-index: -1;
    left: calc(50% - 100px - 150px);
    top: calc(50vh - 87.5px - 262.5px);
}

/* Ring 4 */
.hex20 {
    z-index: -1;
    left: calc(50% + 50px);
    top: calc(50vh - 87.5px - 437.5px);
}

.hex21 {
    z-index: -1;
    left: calc(50% + 50px + 150px);
    top: calc(50vh - 87.5px - 350px);
}

.hex22 {
    z-index: -1;
    left: calc(50% + 50px + 300px);
    top: calc(50vh - 87.5px - 262.5px);
}

.hex23 {
    z-index: -1;
    left: calc(50% + 50px + 300px);
    top: calc(50vh - 87.5px - 87.5px);
}

.hex24 {
    z-index: -1;
    left: calc(50% + 50px + 300px);
    top: calc(50vh);
}

.hex25 {
    z-index: -1;
    left: calc(50% + 50px + 300px);
    top: calc(50vh + 175px);
}

.hex26 {
    z-index: -1;
    left: calc(50% + 50px + 150px);
    top: calc(50vh + 262.5px);
}

.hex27 {
    z-index: -1;
    left: calc(50% + 50px);
    top: calc(50vh + 350px);
}

.hex28 {
    z-index: -1;
    left: calc(50% + 50px);
    top: calc(50vh + 350px);
}

.hex29 {
    z-index: -1;
    left: calc(50% - 100px);
    top: calc(50vh + 437.5px);
}

.hex30 {
    z-index: -1;
    left: calc(50% - 250px);
    top: calc(50vh + 350px);
}

.hex31 {
    z-index: -1;
    left: calc(50% - 400px);
    top: calc(50vh + 262.5px);
}

.hex32 {
    z-index: -1;
    left: calc(50% - 550px);
    top: calc(50vh + 175px);
}

.hex33 {
    z-index: -1;
    left: calc(50% - 550px);
    top: calc(50vh);
}

.hex34 {
    z-index: -1;
    left: calc(50% - 550px);
    top: calc(50vh - 175px);
}

.hex35 {
    z-index: -1;
    left: calc(50% - 550px);
    top: calc(50vh - 350px);
}

.hex36 {
    z-index: -1;
    left: calc(50% - 400px);
    top: calc(50vh - 437.5px);
}

.hex37 {
    z-index: -1;
    left: calc(50% - 100px - 150px);
    top: calc(50vh - 87.5px - 437.5px);
}

.hex38 {
    z-index: -1;
    left: calc(50% - 100px);
    top: calc(50vh - 87.5px - 525px);
}

/* Row 5 */

.hex39 {
    z-index: -1;
    left: calc(50% - 100px);
    top: calc(50vh - 787.5px);
}

.hex40 {
    z-index: -1;
    left: calc(50% + 50px);
    top: calc(50vh - 700px);
}

.hex41 {
    z-index: -1;
    left: calc(50% + 200px);
    top: calc(50vh - 612.5px);
}

.hex42 {
    z-index: -1;
    left: calc(50% + 350px);
    top: calc(50vh - 525px);
}

.hex43 {
    z-index: -1;
    left: calc(50% + 500px);
    top: calc(50vh - 437.5px);
}

.hex44 {
    z-index: -1;
    left: calc(50% + 500px);
    top: calc(50vh - 262.5px);
}

.hex45 {
    z-index: -1;
    left: calc(50% + 500px);
    top: calc(50vh - 87.5px);
}

.hex46 {
    z-index: -1;
    left: calc(50% + 500px);
    top: calc(50vh + 87.5px);
}

.hex47 {
    z-index: -1;
    left: calc(50% + 500px);
    top: calc(50vh + 262.5px);
}

.hex48 {
    z-index: -1;
    left: calc(50% + 350px);
    top: calc(50vh + 350px);
}

.hex49 {
    z-index: -1;
    left: calc(50% + 200px);
    top: calc(50vh + 437.5px);
}

.hex50 {
    z-index: -1;
    left: calc(50% + 50px);
    top: calc(50vh + 525px);
}

.hex51 {
    z-index: -1;
    left: calc(50% - 100px);
    top: calc(50vh + 612.5px);
}

.hex52 {
    z-index: -1;
    left: calc(50% - 250px);
    top: calc(50vh + 525px);
}

.hex53 {
    z-index: -1;
    left: calc(50% - 400px);
    top: calc(50vh + 437.5px);
}

.hex54 {
    z-index: -1;
    left: calc(50% - 550px);
    top: calc(50vh + 350px);
}

.hex55 {
    z-index: -1;
    left: calc(50% - 700px);
    top: calc(50vh + 262.5px);
}

.hex56 {
    z-index: -1;
    left: calc(50% - 700px);
    top: calc(50vh + 87.5px);
}

.hex57 {
    z-index: -1;
    left: calc(50% - 700px);
    top: calc(50vh - 87.5px);
}

.hex58 {
    z-index: -1;
    left: calc(50% - 700px);
    top: calc(50vh - 262.5px);
}

.hex59 {
    z-index: -1;
    left: calc(50% - 700px);
    top: calc(50vh - 437.5px);
}

.hex60 {
    z-index: -1;
    left: calc(50% - 550px);
    top: calc(50vh - 525px);
}

.hex61 {
    z-index: -1;
    left: calc(50% - 400px);
    top: calc(50vh - 612.5px);
}

.hex62 {
    z-index: -1;
    left: calc(50% - 250px);
    top: calc(50vh - 700px);
}

.hex63 {
    z-index: -1;
    left: calc(50% - 250px);
    top: calc(50vh - 700px);
}

/* Row 6 */

.hex64 {
    z-index: -1;
    left: calc(50% + 200px);
    top: calc(50vh - 787.5px);
}

.hex65 {
    z-index: -1;
    left: calc(50% + 350px);
    top: calc(50vh - 700px);
}

.hex66 {
    z-index: -1;
    left: calc(50% + 500px);
    top: calc(50vh - 612.5px);
}

.hex67 {
    z-index: -1;
    left: calc(50% + 650px);
    top: calc(50vh - 525px);
}

.hex68 {
    z-index: -1;
    left: calc(50% + 650px);
    top: calc(50vh - 350px);
}

.hex69 {
    z-index: -1;
    left: calc(50% + 650px);
    top: calc(50vh - 175px);
}

.hex70 {
    z-index: -1;
    left: calc(50% + 650px);
    top: calc(50vh);
}

.hex71 {
    z-index: -1;
    left: calc(50% + 650px);
    top: calc(50vh + 175px);
}

.hex72 {
    z-index: -1;
    left: calc(50% + 650px);
    top: calc(50vh + 350px);
}

.hex73 {
    z-index: -1;
    left: calc(50% + 500px);
    top: calc(50vh + 437.5px);
}

.hex74 {
    z-index: -1;
    left: calc(50% + 350px);
    top: calc(50vh + 525px);
}

.hex75 {
    z-index: -1;
    left: calc(50% + 200px);
    top: calc(50vh + 612.5px);
}

.hex76 {
    z-index: -1;
    left: calc(50% - 400px);
    top: calc(50vh + 612.5px);
}

.hex77 {
    z-index: -1;
    left: calc(50% - 550px);
    top: calc(50vh + 525px);
}

.hex78 {
    z-index: -1;
    left: calc(50% - 700px);
    top: calc(50vh + 437.5px);
}

.hex79 {
    z-index: -1;
    left: calc(50% - 850px);
    top: calc(50vh + 350px);
}

.hex80 {
    z-index: -1;
    left: calc(50% - 850px);
    top: calc(50vh + 175px);
}

.hex81 {
    z-index: -1;
    left: calc(50% - 850px);
    top: calc(50vh);
}

.hex82 {
    z-index: -1;
    left: calc(50% - 850px);
    top: calc(50vh - 175px);
}

.hex83 {
    z-index: -1;
    left: calc(50% - 850px);
    top: calc(50vh - 350px);
}

.hex84 {
    z-index: -1;
    left: calc(50% - 850px);
    top: calc(50vh - 525px);
}

.hex85 {
    z-index: -1;
    left: calc(50% - 700px);
    top: calc(50vh - 612.5px);
}

.hex86 {
    z-index: -1;
    left: calc(50% - 550px);
    top: calc(50vh - 700px);
}

.hex87 {
    z-index: -1;
    left: calc(50% - 400px);
    top: calc(50vh - 787.5px);
}

/* Row 7 */

.hex88 {
    z-index: -1;
    left: calc(50% + 800px);
    top: calc(50vh - 612.5px);
}

.hex89 {
    z-index: -1;
    left: calc(50% + 800px);
    top: calc(50vh - 437.5px);
}

.hex90 {
    z-index: -1;
    left: calc(50% + 800px);
    top: calc(50vh - 262.5px);
}

.hex91 {
    z-index: -1;
    left: calc(50% + 800px);
    top: calc(50vh - 87.5px);
}

.hex92 {
    z-index: -1;
    left: calc(50% + 800px);
    top: calc(50vh + 87.5px);
}

.hex93 {
    z-index: -1;
    left: calc(50% + 800px);
    top: calc(50vh + 262.5px);
}

.hex94 {
    z-index: -1;
    left: calc(50% + 800px);
    top: calc(50vh + 437.5px);
}

/* Row 7 */

.hex95 {
    z-index: -1;
    left: calc(50% - 1000px);
    top: calc(50vh + 437.5px);
}

.hex96 {
    z-index: -1;
    left: calc(50% - 1000px);
    top: calc(50vh + 262.5px);
}

.hex97 {
    z-index: -1;
    left: calc(50% - 1000px);
    top: calc(50vh + 87.5px);
}

.hex98 {
    z-index: -1;
    left: calc(50% - 1000px);
    top: calc(50vh - 87.5px);
}

.hex99 {
    z-index: -1;
    left: calc(50% - 1000px);
    top: calc(50vh - 262.5px);
}

.hex100 {
    z-index: -1;
    left: calc(50% - 1000px);
    top: calc(50vh - 437.5px);
}

.hex101 {
    z-index: -1;
    left: calc(50% - 1000px);
    top: calc(50vh - 612.5px);
}

/* Row 8 */

.hex102 {
    z-index: -1;
    left: calc(50% + 950px);
    top: calc(50vh - 525px);
}

.hex103 {
    z-index: -1;
    left: calc(50% + 950px);
    top: calc(50vh - 350px);
}

.hex104 {
    z-index: -1;
    left: calc(50% + 950px);
    top: calc(50vh - 175px);
}

.hex105 {
    z-index: -1;
    left: calc(50% + 950px);
    top: calc(50vh);
}

.hex106 {
    z-index: -1;
    left: calc(50% + 950px);
    top: calc(50vh + 175px);
}

.hex107 {
    z-index: -1;
    left: calc(50% + 950px);
    top: calc(50vh + 350px);
}

/* Row 8 */

.hex108 {
    z-index: -1;
    left: calc(50% - 1150px);
    top: calc(50vh - 525px);
}

.hex109 {
    z-index: -1;
    left: calc(50% - 1150px);
    top: calc(50vh - 350px);
}

.hex110 {
    z-index: -1;
    left: calc(50% - 1150px);
    top: calc(50vh - 175px);
}

.hex111 {
    z-index: -1;
    left: calc(50% - 1150px);
    top: calc(50vh);
}

.hex112 {
    z-index: -1;
    left: calc(50% - 1150px);
    top: calc(50vh + 175px);
}

.hex113 {
    z-index: -1;
    left: calc(50% - 1150px);
    top: calc(50vh + 350px);
}

/* Futuristic Menu */
.all {
    display: flex;
    perspective: 10px;
    transform: perspective(300px) rotateX(20deg);
    will-change: perspective;
    perspective-origin: center center;
    transition: all 1.3s ease-out;
    justify-content: center;
    transform-style: preserve-3d;
    border: none;
    margin-bottom: 3rem;
}
.all:hover {
    perspective: 1000px;
    transition: all 1.3s ease-in;
    transform: perspective(10000px) rotateX(0deg);
}
.all:hover .text {
    opacity: 1;
}
.all:hover > div {
    opacity: 1;
    transition-delay: 0s;
}
.all:hover .explainer {
    opacity: 0;
}
.left, .center, .right, .far-left, .far-right {
    width: 200px;
    height: 150px;
    transform-style: preserve-3d;
    /* border-radius: 10px; */
    border-radius: 5px;
    border: 1px solid #fff;
    /* box-shadow: 0 0 20px 5px rgba(100, 100, 255, .4); */
    opacity: 0;
    transition: all 0.3s ease;
    transition-delay: 1s;
    position: relative;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    background-blend-mode: color-burn;
    border: 1px solid #06aae2;
}
.left:hover, .center:hover, .right:hover, .far-left:hover, .far-right:hover {
    box-shadow: 0 0 30px 5px rgba(24, 153, 240, 0.6);
    /* background-color: rgba(24, 153, 240, 0.25); */
}
.text {
    text-align: center;
    width: 100%;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease;
    bottom: 0;
    left: 5px;
    position: absolute;
    will-change: transform;
    color: #fff;
    /* text-shadow: 0 0 5px rgba(100, 100, 255, .6); */
    text-shadow: 0 0 5px #1266e499;
}
.far-left {
    transform: translateX(-60px) translateZ(-50px) rotateY(-10deg);
    background: url('/static/images/WebFunds.png') center center no-repeat;
    background-size: 80%;
}
.left {
    transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
    background: url('/static/images/Python.png') center center no-repeat;
    background-size: 80%;
}
.center {
    opacity: 1;
    background-color: transparent;
    background: url('/static/images/coding-dojo.png') center center no-repeat;
    background-size: 80%;
}
.right {
    transform: translateX(30px) translateZ(-25px) rotateY(5deg);
    background: url('/static/images/Mean.png') center center no-repeat;
    background-size: 80%;
}
.far-right {
    transform: translateX(60px) translateZ(-50px) rotateY(10deg);
    background: url('/static/images/CSharp.png') center center no-repeat;
    background-size: 80%;
}
.explainer {
    font-weight: 300;
    font-size: 2rem;
    color: black;
    transition: all 0.6s ease;
    width: 100%;
    height: 100%;
    /* background-color: #303050; */
    background-color: transparent;
    /* border-radius: 10px; */
    text-shadow: 0 0 10px rgba(255, 255, 255, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.ref {
    background-color: #000;
    background-image: linear-gradient(to bottom, #d80, #c00);
    border-radius: 3px;
    padding: 7px 10px;
    position: absolute;
    font-size: 16px;
    bottom: 10px;
    right: 10px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 3px rgba(0, 0, 0, .4);
}
.ref::first-letter {
    font-size: 12px;
}

.info {
    color: white;
    display: none;
    background-color: #06abe262;
    padding: 2rem;
}

.info h3 {
    color: #0ffbf9;
    margin: 1rem 0;
}

.info li {
    margin-left: 1.5rem;
}

.active_edu {
    border: 2px solid cyan;
}

.visible {
    display: block;
}

/* Media Queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        /* background: red; */
        font-size: 10px;
    }

    .grid-container {
        margin: 0;
        /* grid-template-columns: auto auto; */
        grid-template-areas: 
        'title1'
        'project1'
        'project2'
        'title2'
        'project3'
        'project4'
        'project5'
        'project6'
        'project7'
        'project8'
    }

    #name {
        font-size: 2.5rem;
    }

    #headshot {
        max-width: 60vw;
    }

    .media-links {
        display: none;
    }

    .title, #grid-item-title {
        font-size: 1.5rem;
    }

    .navbar {
        font-size: 1rem;
        margin: 1rem 0;
    }

    .navbar ul li {
        padding: 0px;
        margin: 0 0.25rem;
    }

    #edu_content {
        max-width: 100%;
    }

    #email {
        display: none;
    }

    #text {
        font-size: 1.5rem;
    }

    #about-paragraph {
        font-size: 0.75rem;
        padding: 1rem 1rem;
        line-height: 1.5rem;
    }

    #Resume-Container h1 {
        font-size: 2.5rem;
    }

    #corner-bottom-left, #corner-bottom-right, #corner-top-left, #corner-top-right {
        display:  none;
    }

    #skills-container {
        width: 100vw;
        overflow: hidden;
    }

    .left, .center, .right, .far-left, .far-right {
        width: 60px;
        height: 50px;
    }

    .left {
        transform: translateX(-15px) translateZ(-25px) rotateY(-5deg)
    }
    
    .far-left {
        transform: translateX(-30px) translateZ(-25px) rotateY(-5deg)
    }
    
    .right {
        transform: translateX(15px) translateZ(-25px) rotateY(-5deg)
    }
    
    .far-right {
        transform: translateX(30px) translateZ(-25px) rotateY(-5deg)
    }

    .projects {
        margin: 0;
    }

    .info {
        padding: 1rem;
    }

    .diamond {
        width: 100%;
        font-size: 0.75rem;
    }

    .grid-container {
        max-width: 100%;
        width: 100vw;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        /* background: green; */
    }

    .grid-container {
        margin: 0;
        /* grid-template-columns: auto auto; */
        grid-template-areas: 
        'title1 title2'
        'project1 project2'
        'project3 project4'
        'project5 project6'
        'project7 project8'
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        /* background: blue; */
        font-size: 15px;
    }

    .grid-container {
        margin: 0;
        /* grid-template-columns: auto auto; */
        grid-template-areas: 
        'title1 title2'
        'project1 project2'
        'project3 project4'
        'project5 project6'
        'project7 project8'
    }

    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        /* background: orange; */
    }
    
    .grid-container {
        margin: 0 auto;
        /* grid-template-columns: auto auto; */
        grid-template-areas: 
        'title1 title2'
        'project1 project2 project3 project4'
        'project5 project6 project7 project8'
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    body {
        background: black;
    }

    .grid-container {
        grid-template-areas:
        'title1 title1 title2 title2'
        'project1 project2 project3 project4'
        'project5 project6 project7 project8'
    }

    #skills-container {
        /* width: 100vw; */
        overflow: hidden;
    }
}